annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
beautifulsoup4==4.14.3
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
fastapi==0.128.3
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
Jinja2==3.1.6
jplephem==2.24
MarkupSafe==3.0.3
nodeenv==1.10.0
numpy==2.4.2
pandas==3.0.0
playwright==1.58.0
prisma==0.15.0
pydantic==2.12.5
pydantic_core==2.41.5
pyee==13.0.1
pyswisseph==2.10.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
sgp4==2.25
six==1.17.0
skyfield==1.54
soupsieve==2.8.3
starlette==0.52.1
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
